
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

a { color: #f15d5d; }

#table-container { overflow-x: auto; }

table {
    width: max-content;
    border-collapse: collapse;
    table-layout: 100%;
}

th {
    background-color: #c9c9c9;
    border: 1px solid black;
    padding: 8px;
}
    
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td:first-of-type { font-weight: 500; }

tr:first-of-type > th { font-weight: 500; }

tr:nth-of-type(2) > th { font-weight: 100; }

tr { transition: background-color 200ms ease-in-out; }

tr:nth-child(odd) { background-color: #f2f2f2; }

tr:not(:has(th)):hover {
    color: white;
    background-color: #f15d5d;
}

sup {
    margin-left: 4px;
    font-size: 0.7rem;
}

span.eletrical-spec {
    margin-right: 4px;
    border-radius: 25px;
    border: .1px solid black;
    font-style: italic;
    font-size: -0.5rem;
    font-weight: 500;
    padding: 0 5px;
    white-space: nowrap;
}

#legend {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px 10px;
    font-size: small;
    background-color: #f2f2f2;
    width: 100%;
}

#legend * { display: inline; }

#credits {
    font-size: small;
    margin: 20px 0;
}

#credits ul { margin: 0; }

#author {
    position: fixed;
    top: 1px;
    right: 2px;
}

@media print {
    header p, header small { display: none; }

    a {
        color: inherit;
        text-decoration: none;
    }

    table { width: 100%; }

    tr { page-break-inside: avoid; }

    span.eletrical-spec { line-height: 2em; }

    #author {
        position: static;
        text-transform: uppercase;
    }

    #legend { position: static; }
}